@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'components/topbar';


//custom sass variables
$ucla-blue: #3284bf;
$ucla-gold: #ffe800;
$content-link-underlined: #8237ff;
$content-link-hover: #1e4b87;
$ucla-font: 'Proxima Nova', 'Verdana';
$ucla-signature: 'Caslon 540';


/* NAV BAR */
header{
  background: $ucla-blue;
}

.logo{
  text-align: center;
  a{
    color: white;
  }
}

.logo-ucla{
  vertical-align: baseline;
}
.logo-ccle{
  color: $ucla-gold;
  font-weight: bold;
  font-family: $ucla-font;
  font-size: 40px;
}
.logo-shared{

  text-transform: uppercase;
}

// BACKGROUND
#page{
  background: url('../../../assets/img/powell.jpg') no-repeat;
  background-size: cover;
}





.login{
  .button{
    background-color: $ucla-gold;
  }
  a{
    color: $ucla-blue;
    font-weight: bold;
  }
}







// .navbar{
//   background-color: $ucla-blue;
//   padding: 10px;
// }

// #logo{
//   float: left;
//   padding-top: 0px;
// }

// .logo-ucla{
//     vertical-align: baseline;
// }
// .logo-ccle{
//     display: inline-block;
//     font-size: 40px;
//     color: $ucla-gold;
//     padding-top: 20px;
// }
// a .logo-ccle-sub{
//   color: #c8dbf7;
// }
// a .logo-shared{
//   color: white;
// }

// .login{
//   float: right;

//   a{
//     color: $ucla-blue;
//   }
//   .button{
//     background-color: $ucla-gold;
//   }

// }

// menu
.menu-centered{
  clear: both;
  a{
    color: white;
  }
}

.dropdown.menu > li.opens-right > .is-dropdown-submenu{
  background-color: $ucla-blue;
}
.is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu{
  background-color: $ucla-blue;
}


/* SIDE BAR */
.side-bar{
  background-color: #f1f1f1;
  height: 1000px;
}

/* MAIN */
.browse{
  background: white;
}


/* FOOTER */
footer{
  background: black;
}

#copyright{
  // float: left;
}

#footer-links{
  // float: right;

  li{
    list-style: none;
    display: inline;
  }

}









