@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@import 'components/topbar';

@font-face {
  font-family: 'Caslon';
  src: url('../../fonts/ufonts.com_caslon-540.ttf');
}


/************************
PAGE STYLES
*************************/
body{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  a{
    color: #193185;
  }
}

// background
#page{
  background: url('../../../assets/img/powell.jpg') no-repeat;
  background-size: cover;
}



/************************
NAV BAR
************************/
.header{
  background: $ucla-blue;
}

.row{
  max-width: 100%;
}

.logo{
  text-align: center;
  a{
    color: white;
  }
}


// login //
.login{
  .button{
    background-color: $ucla-gold;
    border-radius: 10px;
  }
  a{
    color: $ucla-blue;
    font-weight: bold;
  }
}

#ccle-menu{
  font-weight: bolder;
  text-transform: uppercase;
}

.logo-ucla{
  vertical-align: baseline;
}
.logo-ccle{
  color: $ucla-gold;
  font-weight: bold;
  font-size: 40px;
}
.logo-shared{
  text-transform: uppercase;
}

// menu //

.menu-centered{
  clear: both;
  a{
    color: white;
    background: $ucla-blue;
  }
}


.dropdown li{
  color: $ucla-blue;
}






/************************
MAIN CONTENT
************************/
#ccle-system{
  a{
    text-decoration: underline;
  }

  .tips-updates{
    background-color: white;
    border-radius: 2px;
    padding: 20px;
  }

  .notices{
    background-color: white;
    border-radius: 2px;
    padding: 20px;
  }
}

#browse-courses{
  background-color: white;
  text-align: center;
  padding: 20px;

  .search-box{
    display: inline-flex;

    .button{
      border-radius: 10px;
    }
  }
}

.search-options{
  .menu li{
    display: inline-block;
  }
}

/************************
FOOTER
************************/
footer{
  background: $medium-gray;
}

#copyright{
  // float: left;
}

#footer-links{
  // float: right;

  li{
    list-style: none;
    display: inline;
  }

}


/*** MEDIA QUERIES ***/
@media #{$small-only}{
  .login{
    .button{
      width: 100%;
    }
}

@media #{$large-up}{
  .top-bar{
    padding-top: 60px;
  }

}







